.burger_constructor_list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

/* bg color of elements as in Figma */
.burger_constructor_list li div {
    background: var(--background);
}

.burger_constructor_draggable_list {
    composes: burger_constructor_list;

    margin-left: calc(var(--offset-base-size) * -4);
    overflow-y: auto;
    /* scrollbar compensation */
    position: relative;
    left: calc(var(--offset-base-size) * 4);

    /* to calculate height of the scrollable container we exclude height of top and bottom parts of a page
    (for desktop it's 284px + 252px = 536px) */
    max-height: calc(100vh - 536px);

    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
    scroll-snap-type: y proximity;
}

@-moz-document url-prefix() {
    .burger_constructor_draggable_list {
        scrollbar-color: #8585AD #2F2F37;
    }
}

.burger_constructor_draggable_list::-webkit-scrollbar {
    width: calc(var(--offset-base-size) * 2);
}
.burger_constructor_draggable_list::-webkit-scrollbar-track {
    background: #2F2F37;
}
.burger_constructor_draggable_list::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.burger_constructor_draggable_list li {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.burger_constructor_drag_icon {
    flex-shrink: 0;
    margin-right: calc(var(--offset-base-size) * 2);
}

.burger_constructor_order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.burger_constructor_order svg {
    width: 33px;
    height: auto;
}

/* it's not good, but correct selector doesn't work on library components:
.burger_constructor_list .constructor-element__text { */
.burger_constructor_list > li > div > span > span:first-of-type {
    /* оne-line ingredient name positioning issues */
    min-height: 48px;
    /* TODO: rewrite for responsivity @ <1280px ! */
    width: 254px;
} 