.ingredient_card {
    /* flex-basis: 272px; */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* for correct positioning of Counter:*/
    position: relative;
}

.ingredient_card_link {
    text-decoration: none;
    color: var(--text-primary-color);
}

.ingredient_price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.ingredient_image {
    width: 100%;
    height: auto;
}

.ingredient_name {
    text-align: center;
    flex-basis: 48px;
}

/* TODO: implement scroll-bar! */