.ingredient_card {
    composes: flex_column from global;
    cursor: pointer;
    /* flex-basis: 272px; */
    flex-basis: 50%;
    /* for correct positioning of Counter:*/
    position: relative;
}

.ingredient_image {
    width: 100%;
    height: auto;
}

.ingredient_name {
    text-align: center;
    flex-basis: 48px;
}