.history_container {
  composes: flex_row from global;
  column-gap: calc(var(--offset-base-size) * 15);
}

.history_orders_container {
  flex-basis: 860px;
  align-self: flex-start;
  margin-top: calc(var(--offset-base-size) * -20);
}
