@value mobile from '../breakpoints.module.css';

.container {
    composes: flex_row from global;
    align-items: flex-start;
}

.container_left, .container_right {
    flex-basis: 600px;
}

@media (mobile) {
    .container_right {
        display: none;
    }

    .container_left {
        flex-basis: 100%;
    }
}
