.fullscreen_message {
  composes: fullscreen_message from global;
}

.bottom_navigation {
  composes: flex_row from global;
  column-gap: calc(var(--offset-base-size) * 2);
}

.bottom_navigation button {
  padding: 0;
}
