.profile_container {
  composes: flex_row from global;
  column-gap: calc(var(--offset-base-size) * 15);
}

.form_container {
  flex-basis: 860px;
  display: flex;
  align-self: flex-start;
}

.buttons_container {
  composes: flex_row from global;
  width: 100%;
  justify-content: space-around;
}

.profile_container :global .input_type_email label {
  visibility: hidden;
}

.profile_container :global .input_type_email label::before {
  content: "Логин";
  visibility: visible;
}
