.reset_password_container :global .input_type_password label {
/* label.input__placeholder.text.noselect.text_type_main-default { */
  text-transform: lowercase;
}

.reset_password_container :global .input_type_password label::before {
  content: 'Введите новый ';
  text-transform: initial;
}
