.ingredient_details_container {
    composes: flex_column from global;
    width: 520px;
}

.ingredient_nutrition_list {
    composes: flex_row from global;
    justify-content: space-between;
    width: 520px;
    /* ? */
    column-gap: 20px;
}

.ingredient_nutrition_list_item {
    composes: flex_column from global;
    row-gap: 8px;
}