body {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:global .flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

:global .flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

:global .fullscreen_message {
  display: flex;
  /* App Header height = 88px */
  height: calc(100vh - 88px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:global .bottom_navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: calc(var(--offset-base-size) * 2);
}

:global .bottom_navigation button {
  padding: 0;
}

/* possible compensation of jumping input fields in case of errors */
/* :global .input__error {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  height: 0;
} */

/* TODO: find a way to trigger PasswordInput error status */
:global .password_error .input_type_password {
  border: 2px solid var(--colors-interface-error) !important;
}

:global .password_error::after {
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--colors-interface-error);
  content: 'Некорректный пароль';
  margin-left: 24px;
  margin-top: 2px;
  position: relative;
  height: 0;
}

:global .scroll {
  overflow-y: auto;
  scrollbar-color: #2F2F37 #8585AD;
  scrollbar-width: thin;
}

@-moz-document url-prefix() {
  :global .scroll {
      scrollbar-color: #8585AD #2F2F37;
  }
}

:global .scroll::-webkit-scrollbar {
  width: calc(var(--offset-base-size) * 2);
}

:global .scroll::-webkit-scrollbar-track {
  background: #2F2F37;
}

:global .scroll::-webkit-scrollbar-thumb {
  background: #8585AD;
}

:global .card_box_shadow {
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 
  0px 16px 24px rgba(0, 0, 0, 0.04), 
  0px 4px 8px rgba(0, 0, 0, 0.04), 
  0px 0px 1px rgba(0, 0, 0, 0.04);
}

:global .order_card_box_shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
  0px 0px 2px rgba(0, 0, 0, 0.06), 
  0px 0px 1px rgba(0, 0, 0, 0.04);
}

:global .ingredient_icon_wrapper {
  max-width: 64px;
  display: inline-block;
  position: relative;
  background: linear-gradient(to right, #801AB2, #4C4CFF );
  border-radius: 200px;
}

:global .ingredient_icon {
  height: 60px;
  background: var(--background);
  border-radius: 200px;
  box-sizing: border-box;
  position: relative;
  top: 2px;
  left: -24px;
  padding: 4px;
  clip-path: circle(30px at center);
}

/* text/primary-light (standart text) (from Figma) */
:root {
  --text-primary-color: #F2F2F3 !important;
}