.order_card {
  composes: flex_column from global;
  composes: order_card_box_shadow from global;
  composes: mb-6 from global;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  padding: 24px;
  background-color: var(--background);
  border-radius: var(--common-border-radius-s);
  cursor: pointer;
  scroll-snap-align: start;
}

.order_info {
  composes: flex_row from global;
  justify-content: space-between;
  width: 100%;
}

/* as in Figma */
.order_info svg {
  width: 22px;
  height: 22px;
  padding-left: 9px;
}

.ingredient_icons_container {
  max-height: 64px;
  display: flex;
}

.ingredient_icon_wrapper {
  composes: ingredient_icon_wrapper from global;
  margin-right: -16px;
}

.more_ingredients_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.more_icon_text {
  z-index: 6;
  position: relative;
  top: -21px;
  left: -26px;
}

.more_icon_wrapper {
  width: 60px;
  height: 60px;
  background: var(--background);
  opacity: 0.6;
  z-index: 5;
  position: relative;
  top: -22px;
  left: -65px;
  border-radius: 200px;
}

.status_completed {
  color: var(--colors-interface-success);
}

.status_canceled {
  color: var(--colors-interface-error);
}