.menu_container {
    composes: flex_row from global;
    composes: card_box_shadow from global;
    background: var(--background);
}

.menu_list {
    composes: flex_row from global;
    margin: 0;
    flex-basis: 1280px;
}

.menu_list_left {
    flex-basis: 40%;
}

.menu_list_left_items {
    composes: flex_row from global;
    justify-content: flex-start;
    column-gap: 20px;
}

.menu_list_center {
    composes: flex_row from global;
    flex-basis: 20%;
}

.menu_list_right {
    composes: flex_row from global;
    flex-basis: 40%;
    justify-content: flex-end;
}